{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Compucopias</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/icon.png' %}" rel="icon">
  <link href="{%static 'img/logo.png' %}" rel="logo">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Rapid
    Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header">

    <div id="topbar">
      <div class="container">
        <div class="social-links">
          <a href="https://twitter.com/compucopias" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/compucopias/" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/compucopias_papelerias" class="instagram"><i
              class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="#intro">
          <img src="{% static 'img/logo.png' %}" width="200" height="300" alt="Compucopias, las papelerias mejor surtidas"
            data-logofixed="images/icons/logo2.png">
        </a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Inicio</a></li>
          <li><a href="#sucursales">Sucursales</a></li>
          <li><a href="#portfolio">Galeria</a></li>
          <li><a href="#nosotros">Nosotros</a></li>
          <li><a href="#eventos">Eventos</a></li>
          <li><a href="#nuestras_marcas">Marcas</a></li>
          <li><a href="#footer">Contacto</a></li>
          <li class="drop-down"><a href=""> </a>
            <ul>
              <li><a href="#intro">INICIO</a></li>
              <li><a href="#sucursales">SUCURSALES</a></li>
              <li><a href="#galeria">GALERIA</a></li>
              <li><a href="#nosotros">NOSOTROS</a></li>
              <li><a href="#eventos">EVENTOS</a></li>
              <li><a href="#nuestras_marcas">MARCAS</a></li>
              <li><a href="#contactos">CONTACTO</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->


  
  {% block contenido %}
    
  
    
  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h3><span style="color: #FF0000;">Compucopias</span><br>NOSOTROS <br></h3>
          <h6><span>Con más de 50 sucursales te garantizamos los precios más bajos en papelería, cómputo, electrónica,
              mobiliario y más...</span></h6>
          <div>
            <a href="#nosotros" class="btn-get-started scrollto">Saber mas...</a>
          </div>
        </div>

        <div class="col-md-4 intro-img order-md-last order-first">
          <img src="static/img/story.jpg" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Sucursales Section
    ============================-->
    <section id="sucursales" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">SUCURSALES</h3>
        </header>
    </section>

    <section class="section-mainmenu p-t-110 p-b-70 bg1-pattern">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-12 p-r-35 p-r-15-lg m-l-r-auto">
            <div class="wrap-item-mainmenu p-b-22">
              <iframe src="https://www.google.com/maps/d/embed?mid=16phDZlTg3QGnKQqFU0QQu5s7w-M&hl=es-419" width="100%"
                height="480"></iframe>
              <!-- <h3 class="tit-mainmenu tit10 p-b-25">
                              Tabasco
                            </h3> -->
            </div>
          </div>
        </div>
    </section>
    <strong><h2 <p class="text-center">¡Visitanos!</p></strong>
    </h2>
    </div>
    </div>
    </section>
    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Galeria</h3>
        </header>

        <div class="row portfolio-container">


          {% for foto in  galeria_list %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{foto.imagen.url}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#"> </a></h4>
                <p>Compucopias</p>
                <div>
                  <a href="{{foto.imagen.url}}" data-lightbox="portfolio" data-title=" " class="link-preview"
                    title="Preview"><i class="ion ion-eye"></i></a>
                  <!-- <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a> -->
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Nosotros Section
    ============================-->
    <section id="nosotros">
      <div class="section-header">
        <h3>NOSOTROS</h3>
      </div>
      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-5">
            <div class="about-img">
              <img src="static/img/compu.jpg" width="450" height="450">
            </div>
          </div>

          <div class="col-lg-7 col-md-7">
            <div class="about-content">

              <head>
                <style>
                  #heading {
                    color: #FF0000;
                  }
                </style>
              </head>

              <body>
                <h3><span  style="color: #FF0000;">Nuestro</span><br>PERFIL EMPRESARIAL<br></h3>
                <p>Papelerias Compucopias, las papelerias mejor surtidas, es una cadena de tiendas 100% Tabasqueña que
                  te ofrecen todo lo que necesitas en papeleria en general, articulos escolares y de oficina, muebles
                  para escuelas y oficinas; equipos de computo y consumibles a los mejores precios.</p>
                <head>
                  <style>
                    #heading {
                      color: #FF0000;
                    }
                  </style>
                </head>

                <body>
                  <h3><span style="color: #FF0000;">Nuestra</span><br>EXPERIENCIA<br></h3>
                  <p>Con mas de <span style="color: #FF0000;">25 AÑOS</span> de experiencia y presencia en todo el
                    estado de Tabasco, solo nosotros te ofrecemos el mejor surtido y la mejor atención en cualquiera de
                    nuestras sucursales.</p>

                  <head>
                    <style>
                      #heading {
                        color: #FF0000;
                      }
                    </style>
                  </head>

                  <body>
                    <h3><span style="color: #FF0000;">Nuestra</span><br>VISIÓN<br></h3>
                    <p>Brindar a nuestros clientes la mejor opción en precios, el mejor surtido en artículos escolares,
                      de oficina y cómputo y el mejor servicio en el sureste mexicano a través de un equipo humano capaz
                      y comprometido con la mejora continua.</p>
            </div>
          </div>
        </div>
      </div>

    </section><!-- #nosotros -->



    <!--==========================
      Eventos Section
    ============================-->
    <section id="eventos" class="section-bg">
      <div class="container-fluid">
        <div class="section-header">
          <h3>EVENTOS</h3>

          <section>
            <div class="bread-crumb bo5-b p-t-17 p-b-17">

              <div class="container">
                <div class="row">
                  
                  
                  {% for item in even_nombre %}
                    <div class="col-md-6 col-lg-6">
                      <div class="p-t-80 p-b-150 bo5-r h-full p-r-50 p-r-0-md bo-none-md">




                      <div class="blo4 p-b-63">
                        <div class="pic-blo4 hov-img-zoom bo-rad-10 pos-relative">
                          <a>
                            <img src="{{item.event_imagen.url}}" height="450px"
                              alt="Encuentro Estatal de educación especial, preescolar y primaria">
                          </a>

                        </div>

                        <div class="text-blo4 p-t-33">
                          <h4 class="p-b-16">
                            <!-- <a class="tit9 text-center"><strong>{{item.event_nombre}}</strong></a> -->
                            <h4 class="tit9 text-center"><strong>{{item.event_nombre}}</strong></h4>
                          </h4>

                          <div class="txt32 flex-w p-b-24">
                            <span>
                              by {{item.event_patrocinado}}
                              <span class="m-r-6 m-l-4">|</span>
                            </span>
                            <span>
                              {{item.event_fecha_inicial}} al {{item.event_fecha_final}}
                            </span>
                            <br>
                            <span><strong>Lugar</strong>: {{item.event_ubicacion}} 
                             <br><strong>Hora</strong>: {{item.event_hora_inicio}} a {{item.event_hora_fin}}
                              <br><strong>{{item.event_especificacion}}</strong></span>
                              <a class="btn btn-success" href="{% url 'compucopias:registro' %}?event={{item.id}}" role="button">Registrar</a>
                          </div>
                        </div>

                      </div>
                      <br>
                      <br>
                    </div>
                  </div>
                      {% endfor %}


                  <!-- <div class="col-md-4 col-lg-3">
                    <div class="sidebar2 p-t-80 p-b-80 p-l-20 p-l-0-md p-t-0-md">

                      
                      <div class="categories">
                        <h4 class="txt33 bo5-b p-b-35 p-t-58">
                          Categorias
                        </h4>

                        <ul>
                          <li class="bo5-b p-t-8 p-b-8">
                            <a href="#" class="txt27">
                              Encuentro Estatal de Educación
                            </a>
                          </li>

                          <li class="bo5-b p-t-8 p-b-8">
                            <a href="#" class="txt27">
                              Entrega de juguetes
                            </a>
                          </li>

                          <li class="bo5-b p-t-8 p-b-8">
                            <a href="#" class="txt27">
                              Concurso de dibujo
                            </a>
                          </li>
                        </ul>
                      </div>

                      
                      <div class="archive">
                        <h4 class="txt33 p-b-20 p-t-43">
                          Archivos
                        </h4>

                        <ul>
                          <li class="flex-sb-m p-t-8 p-b-8">
                            <a href="#" class="txt27">
                              2016
                            </a>

                            <span class="txt29">
                              (0)
                            </span>
                          </li>

                          <li class="flex-sb-m p-t-8 p-b-8">
                            <a href="#" class="txt27">
                              2017
                            </a>

                            <span class="txt29">
                              (0)
                            </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
        </div>
    </section>
  



    <section id="nuestras_marcas" class="wow fadeInUp">
        <div class="container">
  
          <header class="section-header">
            <h3>Nuestras Marcas</h3>
          </header>
  
          <div class="owl-carousel clients-carousel">
           
           {% for item in marca_list  %}  
           <img src="{{item.marca_img.url}}" alt="{{item.marca_nombre}}">
           {% endfor %}
          </div>
  
        </div>
      </section>
      
    <!--==========================
    Footer
  ============================-->
    <footer id="footer" class="section-bg">
      <div class="footer-top">
        <div class="container">

          <div class="row">

            <div class="col-lg-6">

              <div class="row">

                <div class="col-sm-6">

                  <div class="footer-info">
                    <h4>CONTACTO</h4>
                    <p><i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
                      Calle Gral Ignacio Zaragoza 507, Centro, 86000 Villahermosa, Tab<br><br>
                      <i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
                      (+52) 993 131 0673<br><br>
                      <i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
                      contacto@compucopias.com.mx</p>
                  </div>

                  <div class="footer-newsletter">
                    <h4>INMUEBLES Y TERRENOS</h4>
                    <i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
                    <a href="#sucursales">Renta o vende tu terreno o inmueble a compucopias</a>
                    </form>
                  </div>

                </div>

                <div class="col-sm-6">
                  <div class="footer-links">
                    <h4>HORARIOS DE SERVICIO</h4>
                    <p> 6:30 AM – 09:00 PM<br>
                      Lunes a Viernes<br><br>
                      07:00 AM – 07:00 PM<br>
                      Sábados y Domingos
                    </p>
                  </div>


                  <div class="social-links">
                    <a href="https://www.facebook.com/compucopias" class="fs-15 c-white"><i
                        class="fa fa-facebook m-l-18" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/compucopias" class="fs-15 c-white"><i class="fa fa-twitter m-l-18"
                        aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/compucopias_papelerias" class="fs-15 c-white"><i
                        class="fa fa-instagram m-l-18" aria-hidden="true"></i></a>
                  </div>

                </div>

              </div>

            </div>

            <div class="col-lg-6">

              <div class="form">

                <h4>ENVIENOS UN MENSAJE</h4>
                {% if messages %}
                {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">
                  {{message}}
                </div>
                {% endfor %}
                {% endif %}
                <form action="" method="post" role="form" class="contactForm">
                  {% csrf_token %}
                  {{form_correo}}
                  <div class="text-center"><button type="submit" title="Send Message">ENVIAR</button></div>
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
      </div>

      {% endblock contenido %}

      <div class="container">
        <div class="copyright">
          Aviso de privacidad | Compucopias &copy; 2018 Todos los derechos reservados | Sistemas Compucopias
        </div>
      </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/mobile-nav/mobile-nav.js' %}"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
    <!-- Contact Form JavaScript File -->
    <script src="{% static 'contactform/contactform.js' %}"></script>

    <!-- Template Main Javascript File -->
    <script src="{% static 'js/main.js' %}"></script>
    
    
    {% block script %}
      
    {% endblock script %}
      

</body>

</html>